/* CSS methodology: selector {
  WHERE: where is this selectee located?
  --
  WHAT: what does it look like?
  --
  WITHIN: what do its contents look like?
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.experience {
  /* Where */
  position: absolute;
  top: 0;
  left: 0;
  /* What */
  width: 100%;
  height: 100%;
  /* Within */
}

canvas {
  width: 100%;
  height: 100%;
}